@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins'; }

body { color: #333333; font-size: 1rem; }

.color-primary   { color: #f7f7f7 !important; }
.color-secondary { color: #66cdaa !important; }
.color-third     { color: #0e5f56 !important; }
.color-dark      { color: #333333 !important; }
.color-light     { color: #ffffff !important; }
.color-warning   { color: #f7de62 !important; }
.color-danger    { color: #ff6c5c !important; }
.color-success   { color: #93c243 !important; }

.bg-primary   { background-color: #f7f7f7 !important; }
.bg-secondary { background-color: #66cdaa !important; }
.bg-third     { background-color: #0e5f56 !important; }
.bg-dark      { background-color: #333333 !important; }
.bg-light     { background-color: #ffffff !important; }
.bg-warning   { background-color: #f7de62 !important; }
.bg-danger    { background-color: #c1584d !important; }
.bg-success   { background-color: #8eae56 !important; }

h1 { font-size: 3.1em; line-height: 1.2em; margin-bottom: 0.5em; }
h2 { font-size: 1.8em; line-height: 1.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.5em; line-height: 1.5em; margin-bottom: 0.8em; }
h4 { font-size: 1.2em; line-height: 1.5em; margin-bottom: 0.5em; }
h5 { font-size: 0.9em; line-height: 1.7em; margin-bottom: 0.3em; }
h6 { font-size: 0.7em; line-height: 1.6em; margin-bottom: 0.3em; }

textarea { font-size: 14px; }
label    { font-size: 12px; }
small    { font-size: 12px; }
p        { font-size: 14px; line-height: 25px; }
a        { font-size: 14px; cursor: pointer; text-decoration: none;}
li       { list-style: none; }
input    { font-size: 14px; }
select   { font-size: 14px; }

input:disabled   { cursor: no-drop; }
input[type=file] { cursor: pointer; }
button     { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    margin-top: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer; }
a.button   {
    padding: 2px 10px;
    border-radius: 20px; }
a.link     {
    text-decoration: underline;
    color: #ffffff98; }
select     {
    height: 33px;
    cursor: pointer;
    -webkit-appearance: none; }
section    { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5% 0; }
video      {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
.fa-spin   { 
    font-size: 18px !important; 
    margin-right: 10px; }
.alert     {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    padding: 1em 2.5em;
    margin: 2em 0;
    border-radius: 10px; }
.alert i   {
    font-size: 25px;
    margin-right: 18px; }

/* ------------------------------------------------------------ */

.jumbotron {
    background-image: linear-gradient(#00000099, #002324);
}
.jumbotron .container {
    align-items: stretch;
    min-height: 100vh;
    padding: 0;
}
.jumbotron header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2em;
}
.jumbotron header #logo {
    width: 15em;
    margin-bottom: 2em;
}
.jumbotron header #countdown {
    display: flex;
    margin: 2em 0;
}
.jumbotron header #countdown span {
    text-align: center;
    line-height: 1.5em;
    min-width: 4em;
    padding: .5em;
    margin-right: .2em;
    border-radius: .3em;
    background-color: #ffffff44;
}
.jumbotron .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    max-width: 400px;
}
.jumbotron .form .toggle {
    display: flex;
}
.jumbotron .form .toggle button {
    padding: 10px 30px 5px;
    margin-bottom: -.5px;
    border-radius: 0;
    background-color: #04574d80;
}
.jumbotron .form form {
    padding: 40px;
    border-radius: 0 50px;
}
.jumbotron form small {
    display: block;
    margin: -8px 0 25px;
    color: #ffffffcc;
}
.jumbotron form li {
    display: flex;
    flex-direction: column-reverse;
    color: #ffffff99;
}
.jumbotron form input,
.jumbotron form select,
.jumbotron form textarea {
    display: block;
    padding: 5px 15px;
    margin: 8px 0 15px;
    border-radius: 20px;
    color: #ffffff80;
    background-color: #ffffff11;
    border: 1px solid #ffffff80;
}
.jumbotron form input::placeholder,
.jumbotron form select::placeholder,
.jumbotron form textarea::placeholder {
    color: #ffffff80;
}
.jumbotron form input:focus,
.jumbotron form select:focus,
.jumbotron form textarea:focus { 
    outline: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.jumbotron form input:focus+label,
.jumbotron form textarea:focus+label {
    color: #ffffff;
}
.jumbotron form li button:hover {
    background-color: mediumaquamarine !important;
}

.jumbotron.page-form {
    background-image: linear-gradient(#000000cc, #0b2a28);
}
.jumbotron.page-form .payment {
    position: relative;
}
.jumbotron.page-form .payment.bg-danger{
    background-color: #c1584d80 !important; 
}
.jumbotron.page-form .payment.bg-warning {
    background-color:  #fffc4080 !important; 
}
.jumbotron.page-form .payment.bg-success {
    background-color: #9fff3e80 !important
}
.jumbotron.page-form .payment small {
    margin: 0;
}
.jumbotron.page-form .payment p {
    font-size: 12px;
    line-height: 15px;
    margin: -.3em 0 0;
}
.jumbotron.page-form .payment input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}
.jumbotron.page-form form {
    padding: 8em;
}
.jumbotron.page-form ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}
.jumbotron.page-form li {
    min-width: 49%;
}
.jumbotron.page-form li input,
.jumbotron.page-form li textarea {
    color: #ffffff;
}
.jumbotron.page-form li#textarea{
    position: relative;
    width: 100%;
}
.jumbotron.page-form li#textarea input[type=file] {
    padding: 0;
    border: none;
    color: transparent;
    background-color: transparent;
}
.jumbotron.page-form li#textarea input[type=file]::file-selector-button {
    height: 25px;
    padding: 3px 20px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    color: #333333;
    background-color: #ffffff90;
}
.jumbotron.page-form li#textarea a.article-link {
    position: absolute;
    text-align: start;
    text-decoration: underline;
    top: 12.5px;
    left: 105px;
    width: 60%;
    height: 20px;
    overflow: hidden;
    color: #ffffff90;
}
.jumbotron.page-form button {
    width: 15em;
    margin: auto;
    margin-top: 2em;
}
.jumbotron.page-form a  {
    text-align: center;
    width: 100px;
    margin: auto;
    margin-top: 1em;
}

.jumbotron.page-table {
    display: flex;
    flex-direction: column;
    padding: 5em 0 2em;
    background-image: linear-gradient(#000000cc, #0b2a28);
}
.jumbotron.page-table .title {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}
.jumbotron.page-table .title a#back {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.jumbotron.page-table .title a.button {
    margin: .2em;
}
.jumbotron.page-table ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em 0 1em;
}
.jumbotron.page-table li {
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 600;
    width: 24%;
    padding: .3em 2em;
    border-radius: 50px;
    background: #155e569c;
}
.jumbotron.page-table .container {
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    min-height: 100vh;
    margin-top: 20px;
    overflow: scroll;
}
.jumbotron.page-table .table {
    position: relative;
    font-size: .85em;
    margin: 0 auto;
}
.jumbotron.page-table table {
    white-space: nowrap;
}
.jumbotron.page-table table * {
    font-size: 1em;
    text-align: center;
}
.jumbotron.page-table table,
.jumbotron.page-table table th,
.jumbotron.page-table table td {
    padding: 2px 10px;
    border-collapse: collapse;
    border: 1px solid #ffffff50;
    background-color: #ffffff10;
}
.jumbotron.page-table table th {
    padding: 2px 10px;
    background: #d6dcd950;
}
.jumbotron.page-table table a.link {
    font-size: .9em;
}
.jumbotron.page-table table a.button {
    display: flex;
    font-size: 1em;
    transform: scale(0.9);
}
.jumbotron.page-form + .footer,
.jumbotron.page-table + .footer {
    background-color: #0b2a28 !important;
}

.event-desc {
    text-align: center;
}
.event-desc .container {
    display: block;
    max-width:1000px;
}
.event-desc ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}
.event-desc ul li {
    padding: 2em;
    width: 25%;
}
.event-desc li i {
    font-size: 25px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 50%;

}
.event-desc li i:hover {
    background-color: mediumaquamarine !important;
}

.speakers {
    text-align: center;
    background-image: linear-gradient(#ffffff, #66cdabb3, #66cdaa);
}
.speakers .container {
    display: block;
    width: 90%;
}
.speakers .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.speakers .cards a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: 15em;
    height: 20em;
    margin: 1em;
    overflow: hidden;
    z-index: 3;
    border-radius: 0 2em;
    color: #333333;
    border: .5em solid #ffffff;
}
.speakers .cards a img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.speakers .cards a #identity {
    text-transform: uppercase;
    line-height: 18px;
    padding: 1em 1em .7em;
    margin: 0;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 -5px 20px #00000033;
    transform: translateY(0);
    transition: 500ms;
}
.speakers .cards a:active #identity {
    transform: translateY(100%);
}
.speakers .cards a #description {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: scroll;
    z-index: 2;
    color: #ffffff;
    background-color: #00000099;
    transform: translateX(-101%);
    transition: 500ms ease-out;
}
.speakers .cards a:active #description {
    transform: translateX(0);
}
.speakers .cards a #description img {
    position: relative;
    display: block;
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
}

.moderator {
    text-align: center;
}
.moderator .container {
    flex-direction: column;
    width: 60%;
    padding-bottom: 2.5em;
}
.moderator .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 2em;
    margin-bottom: 2.5em;
    border-radius: 0 5em;
    background-color: #ffffff;
    box-shadow: 2px 2px 7px #0000001a;
}
.moderator .box:nth-child(even) {
    flex-direction: row-reverse;
    border-radius: 5em 0;
}
.moderator .box img{
    object-fit: cover;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 1px solid #333333;
}
.moderator .box span {
    display: block;
    padding-left: 3em;
}
.moderator .box:nth-child(even) span {
    padding-left: 2em;
    padding-right: 3em;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 5px;
}
.footer p {
    font-size: 12px;
}

@media screen and (max-width: 1140px) {

    .container {
        width: 85%;
    }

    .jumbotron form#page-form {
        padding: 3em;
    }

    .jumbotron.page-table .title {
        width: 90%;
    }

    .speakers .cards a {
        width: 20em;
    }

    .event-desc ul {
        justify-content: space-between;
        margin-top: 3em;
    }
    .event-desc ul li {
        display: flex;
        align-items: center;
        width: 49%;
        padding: 15px 15px;
        margin-bottom: 20px;
        border-radius: 0 50px;
        box-shadow: 2px 2px 7px #0000001a;
    }
    .event-desc li i {
        padding: 20px;
        margin-bottom: 0;
    }
    .event-desc li span {
        text-align: left;
        margin-left: 15px;
    }
    .event-desc li span p {
        margin-top: -1em;
    }
}

@media screen and (max-width: 850px) {
    body { font-size: .75rem; }

    .container {
        padding: 10% 2%;
    }

    .jumbotron .container {
        flex-direction: column;
        align-items: center;
        padding: 4em 0;
    }
    .jumbotron header {
        text-align: center;
        padding-right: 0;
    }
    .jumbotron header #logo {
        margin: auto;
        margin-bottom: 1.5em;
    }
    .jumbotron header #countdown {
        font-size: 1.5em;
        justify-content: center;
    }
    .jumbotron .form {
        min-width: 320px;
        max-width: 320px;
        padding-top: 13em;
        margin-top: -13em;
    }
    .jumbotron .form form {
        padding: 25px;
        border-radius: 0 40px;
    }
    .jumbotron.page-form {
        font-size: 1.3em;
        min-height: 95vh;
    }
    .jumbotron.page-form .container {
        margin: 0;
    }
    .jumbotron.page-form h2 {
        text-align: center;
        margin-bottom: 1em;
    }
    .jumbotron.page-form form {
        padding: 0;
        margin: 0;
    }
    .jumbotron.page-form small {
        margin-top: 1em;
    }
    .jumbotron.page-form li {
        min-width: 100%;
    }
    .jumbotron.page-form li#radio span {
        min-width: 49%;
        margin: .5em 0;
    }

    .jumbotron.page-table .title a.button {
        font-size: 1em;
    }
    .jumbotron.page-table ul {
        margin-bottom: 0em;
    }
    .jumbotron.page-table li {
        width: 49%;
        margin: .6em 0em 0em;
    }
    .jumbotron.page-table table * {
        font-size: 1.05em;
    }
    .jumbotron.page-table .title a#back {
        top: -30px;
    }
    .jumbotron.page-table .container {
        margin-top: -2em;
    }
    
    .event-desc p {
        text-align: justify;
        word-break: break-all;
    }
    .event-desc ul {
        margin-top: 30px;
    }
    .event-desc ul li {
        width: 100%;
    }
    .event-desc ul li p {
        text-align: left;
        word-break:normal;
    }
    .speakers .container {
        padding-top: 2%;
    }
    
    .moderator .container {
        width: 87%;
    }
    .moderator .box,
    .moderator .box:nth-child(even) {
        flex-direction: column;
        text-align: left;
        padding: 2em;
    }
    .moderator .box span,
    .moderator .box:nth-child(even) span {
        padding: 0;
        padding-top: 2em;
    }
    .moderator .box img {
        width: 15em;
        height: 15em;
    }
}